page{
  background-color:#efefef;
  height:100%;
}
.container {
  height: 100%;
  box-sizing: border-box;
}
.p0-20{
  padding:0 20rpx;
}
.iconfont{
  display:inline-block;
}
.content{
  padding:0 20rpx;
  background:#fff;
}
.gray{
  background:#efefef;
}
.white-column{
  background:#fff;
  padding:20rpx;
}
.small-title{
  font-size:28rpx;
  font-weight: normal;
  color:#999;
  margin-bottom:8rpx;
}
.fix-gray{
  position:fixed;
  height:100%;
  height:100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:#efefef;
}